@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-siliguri overflow-x-hidden text-black/90;
  }
  body.open {
    @apply overflow-hidden;
  }
  .container {
    @apply max-w-[1600px] w-full px-4 mx-auto;
  }
  h1 {
    @apply text-[0.8rem] lg:text-[1rem] md:text-[1rem];
  }
  h2 {
    @apply text-[1.8rem] leading-[2.3rem]
    lg:text-[2.4rem] md:text-[2.4rem];
  }
  h3 {
    @apply text-[1.6rem] font-semibold
    lg:text-[1.8rem] md:text-[1.8rem];
  }
  h4,
  .rewardsItems li {
    @apply text-[1.25rem] font-semibold
    lg:text-[1.5rem] md:text-[1.5rem];
  }
  h5 {
    @apply text-[1.1rem] font-semibold
    lg:text-[1.2rem] md:text-[1.2rem];
  }
  p {
    @apply text-[.93rem]
    lg:text-[1.1rem];
  }
  .container {
    @apply mx-auto md:px-0 lg:px-0;
  }
  main .container,
  footer .container {
    @apply lg:pl-20 md:px-8;
  }
  .header__nav li {
    @apply lg:text-[1rem] lg:font-bold lg:py-[22px] lg:tracking-widest
    md:text-[1rem] md:font-bold md:py-[22px] md:tracking-widest;
  }
  .header__panel {
    @apply flex flex-col gap-8 w-[80%] h-screen top-[4.5rem] fixed justify-start py-11 px-8 font-semibold duration-700 right-[-100%] bg-white border-t-2 border-black/10 z-50
    lg:static lg:flex-row lg:h-auto lg:w-[100%] lg:border-none lg:justify-between lg:p-0 lg:pr-7
    md:static md:flex-row md:h-auto md:w-[100%] md:border-none md:justify-between md:p-0;
  }
  .header__panel.open {
    @apply right-[0] overflow-y-hidden;
  }
  .toggle__menu {
    @apply right-0 flex flex-col gap-1 mr-4 ease-in-out duration-700 relative justify-center lg:hidden md:hidden;
  }
  .toggle__menu.open {
    @apply z-50;
  }
  .toggle__menu span {
    @apply content-["*"] bg-black w-5 h-[2px] rounded-lg duration-300;
  }
    .toggle__menu span:nth-child(2) {
    @apply absolute;
  }
  .toggle__menu.open span:first-child {
    @apply translate-y-[0.37rem] opacity-0 delay-0;
  }
  .toggle__menu.open span:last-child {
    @apply translate-y-[-0.37rem] opacity-0 delay-0;
  }
  .toggle__menu.open span:nth-child(2) {
    @apply rotate-[45deg] delay-300;
  }
  .toggle__menu.open span:nth-child(3) {
    @apply rotate-[135deg] delay-300;
  }
  .toggle__menu span:first-child {
    @apply delay-300;
  }
  .toggle__menu span:last-child {
    @apply delay-300;
  }
  .toggle__menu span:nth-child(2) {
    @apply delay-0;
  }
  .toggle__menu span:nth-child(3) {
    @apply delay-0;
  }
  .backdrop {
    @apply hidden;
  }
  .backdrop.open {
    @apply block left-0 fixed top-[72px] h-screen w-full backdrop-brightness-50 duration-700 overflow-y-hidden z-[41];
  }

  /* REWARDS STEPS */
  .rewardsSteps__card {
    @apply flex justify-start items-center gap-x-4 gap-y-[18px] md:flex-col lg:flex-col;
  }
  .rewardsSteps__text {
    @apply grid gap-y-[18px] md:text-center lg:text-center;
  }

  /* REWARDS ITEMS */
  .rewardsItems__tabs:after {
    @apply content-[""] w-[20%] bg-primary h-1 absolute bottom-0 duration-500;
  }
  .rewardsItems__tabs:after.rewards__tab-1-underline {
    @apply left-0;
  }
  .rewardsItems__tabs:after.rewards__tab-2-underline {
    @apply left-[20%];
  }
  .rewardsItems__tabs:after.rewards__tab-3-underline {
    @apply left-[40%];
  }
  .rewardsItems__tabs:after.rewards__tab-4-underline {
    @apply left-[60%];
  }
  .rewardsItems__tabs:after.rewards__tab-5-underline {
    @apply left-[80%];
  }

  .rewardsItems__details {
    @apply py-16 px-6 lg:py-8 md:py-8 lg:px-0 md:px-0 hidden;
  }
  .rewardsItems__details.active {
    @apply block animate-[fadeIn_1s] grid gap-3 justify-items-center items-center lg:gap-14 lg:max-w-[800px] lg:mx-auto lg:grid-cols-2 md:max-w-[800px] md:mx-auto md:grid-cols-2 md:gap-14;
  }
  .rewardsItems__text {
    @apply grid gap-3 text-center
    md:justify-items-start lg:justify-items-start
    md:text-start
    lg:text-start;
  }

  /* REWARDS EXTRAS */
  .rewardsExtras__card {
    @apply flex gap-x-4 gap-y-4 items-center lg:flex-col md:flex-col lg:text-center md:text-center;
  }
  .rewardsExtras__text {
    @apply grid gap-x-4 gap-y-4;
  }

  /* REWARDS PAYMENT */
  .rewardsPayment__card {
    @apply grid grid-cols-[112px_auto] items-start justify-items-start gap-4 pb-5;
  }
  .rewardsPayment__method {
    @apply grid py-10 border-b border-black/10 lg:grid-cols-[15%_1fr_1fr] lg:gap-20 lg:py-0 lg:pt-12 md:grid-cols-[15%_1fr_1fr] md:gap-20 md:py-0 md:pt-12;
  }
  .rewardsPayment__method:last-child {
    @apply border-none;
  }

  /* REWARDS ACCOUNT */
  .rewardsAccount__card {
    @apply flex justify-start items-center gap-4 lg:flex-col lg:text-center md:flex-col md:text-center;
  }
  .rewardsAccount__card img {
    @apply w-[112px] lg:w-[190px] md:w-[190px];
  }
  .borderImg {
    @apply border-[2rem];
    border-image: url("../img/account_bg.png") 10 round;
  }

  /* FOOTER */
  .footerTop__item {
  }
  .footerTop__item--category {
    @apply font-[500] py-2 flex justify-between items-center my-3;
  }
  .footerTop__item--text {
    @apply h-auto max-h-0 overflow-hidden ease-in-out duration-300 grid gap-6 lg:pointer-events-none;
  }
  .footerTop__item--text.open {
    @apply max-h-[200rem] duration-700;
  }
  .footerTop__item i {
    @apply duration-300 lg:hidden;
  }
  .footerTop__item i.open {
    @apply rotate-180 duration-300;
  }

  .footerBottom__icons li {
    @apply relative;
  }
  .footerBottom__icons li:hover span {
    @apply scale-100;
  }
  .footerBottom__icons i {
    @apply w-[19.2px] h-[19.2px] text-white text-center grid items-center text-[17px];
  }
  .footerBottom__icons small {
    @apply inline-block flex justify-center items-center w-[32px] h-[32px] rounded-full bg-black/90;
  }
  .footerBottom__icons a {
    @apply w-[44px] h-[44px] grid justify-items-center items-center;
  }
  .footerBottom__icons span {
    @apply absolute flex justify-center items-center w-[44px] h-[44px] rounded-full bg-black/20 left-0 top-0 z-[-1] scale-75 duration-300;
  }
  .footerBottom__text a {
    @apply no-underline;
  }
  .footerBottom__text a:hover {
    @apply underline;
  }
}

@layer components {
  .btn {
    @apply rounded-3xl py-[3px] px-4 border text-[1rem] active:scale-95 duration-300;
  }
  .btn.bg-dark {
    @apply bg-black text-white border-black hover:bg-black/60;
  }
  .btn.bg-dark-outline {
    @apply bg-none text-black border-black hover:bg-black/10;
  }
  .btn.bg-dark-green {
    @apply bg-headerr text-white border-white hover:bg-[#182e28];
  }
  .btn.bg-primaryy {
    @apply bg-primary text-white border-primary hover:bg-primary/80 py-[5px];
  }
}
